@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700);
body {
  overflow: hidden;
  background: #191747;
}

svg {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
}

#canvas {
  -webkit-filter: url("#goo");
  filter: url("#goo");
}

h1 {
  color: #fff;
  text-align: center;
  font-family: Quicksand;
  letter-spacing: 10px;
  font-size: 20px;
  text-transform: uppercase;
  position: fixed;
  top: 100px;
  right: 0;
  left: 0;
}
