<html>
<head>
<title>Forgot Password</title>
<link href="public/css/main.css" rel="stylesheet" type="text/css">
<link href="public/css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="public/fontAwesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<script src="public/js/jquery-1.12.4.min.js"></script>



</head>
<body>
    
    <div class="jumbotron">
      <h1 class="display-3"><p class="text-success">Your password has been modified!</p></h1>
        <h1 class="display-3"></h1>
        

        <h4><p>Now you can log in with your new password.</p><h4>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/" role="button">Back To Log in</a>
        </p>
      </div>
      

</body>
</html>