<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Welcome!</title>
<link href="public/css/main.css" rel="stylesheet" type="text/css">
<link href="public/css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="public/fontAwesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<script src="public/js/jquery-1.12.4.min.js"></script>
<script src="public/js/jquery.cookie.js"></script>
<script src="public/js/google.js"></script>
</head>
<body>


    <div class="jumbotron">
        <h1 class="display-3">Successfully Logged In with Google!</h1>
        <br></br>
        <h4><p>Welcome, Mr. {{googleName}}</p><h4>
          <h1 class="display-3"></h1>

        <br></br>
          <p class="lead">
            <a href="/googleConsole"><button type="button" class="btn btn-outline-success"><h4>Go to your individual console!</h4></button></a>
            <br></br>
            <a href="/logout"><button type="button" class="btn btn-outline-primary"><h4>Log out google account</h4></button></a>
          </p>
        </div>

     
       

      </div>


    </body>
    </html>