<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Welcome!</title>
<link href="public/css/main.css" rel="stylesheet" type="text/css">
<link href="public/css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="public/fontAwesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<script src="public/js/jquery-1.12.4.min.js"></script>
<script src="public/js/jquery.cookie.js"></script>
<script src="public/js/google.js"></script>
</head>
<body>


    <div class="jumbotron">
        <h1 class="display-3">Manage your task and worker here!</h1>
        <br></br>
        <h4><p>Welcome, Mr. {{googleName}}! You could manage your schedule here</p><h4>
          <h1 class="display-3"></h1>

        <br></br>
          <!-- <p class="lead">
            <a href="/"><button type="button" class="btn btn-outline-success" href="/googleConsole"><h4>Go to your individual console!</h4></button></a>
          </p> -->
        </div>

     
       

      </div>


    </body>
    </html>