
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>ChaseTest</title>
<link href="public/css/main.css" rel="stylesheet" type="text/css">
<link href="public/css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="public/fontAwesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<script src="public/js/jquery-1.12.4.min.js"></script>
<script src="public/js/jquery.cookie.js"></script>
<script src="public/js/index.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">ChaseWeb</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about" target="_blank">About</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="javascript:void(0);">Action</a>
                <a class="dropdown-item" href="javascript:void(0);">Another action</a>
                <a class="dropdown-item" href="javascript:void(0);">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:void(0);">Separated link</a>
              </div>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    <!-- <ul class="nav">
        <li><a href="about" target="_blank">About</a></li>
        <li><a href="" target="_blank">Work</a></li>
        <li><a href="" target="_blank">Contact</a></li>
      </ul> -->
	<div class="img-container">
<img src="https://i.loli.net/2020/09/03/2LgEVrKvxTut9jo.jpg">
<p class="desc">Hey, I'm Chase</p>
</div>

	<!-- <nav>
		<div class="menu">
            {% for category in categories %}
            <a href="/{{category._id}}">{{category.name}}</a>
            {% endfor %}
	    </div>
	</nav> -->

	

    <main class="clear">
        <div class="mainLeft">
            
            <div class="jumbotron">
                <h1>Chase Introduction</h1>
                <p class="colDefault">
                    Author：<span class="colInfo">admin</span> - 
                    time：<span class="colInfo">2016/7/19 1:3:31</span> - 
                    read：<span class="colInfo">231</span> - 
                    comment：<span class="colInfo">10</span>
                </p>
                <dfn><p>SIT 313 Learnning</p></dfn>
                <div class="function"><a href="">Read</a></div>
            </div>
            <div class="jumbotron">
                <h1 class="display-3">Hello, my friend!</h1>
                <p class="lead">This is a heroku test of SIT314 of Deakin University</p>
                <hr class="my-4">
                <p>Very delighted you browse my web!</p>
                <p class="lead">
                  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                </p>
              </div>
            <div class="jumbotron">
                <h1>SIT305</h1>
                <p class="colDefault">
                    Author：<span class="colInfo">admin</span> - 
                    time：<span class="colInfo">2016/7/19 1:1:37</span> - 
                    Read：<span class="colInfo">93</span> - 
                    Comment：<span class="colInfo">1</span>
                </p>
                <dfn><p>SIT 374 learning</p></dfn>
                <div class="function"><a href="">Read</a></div>
            </div>
            
            <div class="jumbotron">
                <h1>DOM</h1>
                <p class="colDefault">
                    Author：<span class="colInfo">admin</span> - 
                    Time：<span class="colInfo">2016/7/20/ 16:24:38</span> - 
                    Read：<span class="colInfo">95</span> - 
                    Comment：<span class="colInfo">41</span>
                </p>
                <dfn><h2>DOM - Document Object Model</h2>

<!-- <blockquote><p>文档对象模型</p></blockquote></dfn> -->
                <div class="function"><a href="">Read</a></div>
            </div>
            

            <div class="pager">
            	<ul class="clear">
            		
            		<li class="previous">
            		
            			<a href="">None/a>
            		
            		</li>

            		<li>
            			<strong>1 / 2</strong>
            		</li>

            		<li class="next">
            		
            			<a href="/2">Next Page</a>
            		
            		</li>
            		
            	</ul>
            </div>
        </div>
        <script>
          $(document).ready(function(){
            var remember = $.cookie('remember');
            if(remember == 'true')
            {
              var email = $.cookie('email');
              var password = $.cookie('password');

              $('#vEmail').val(email);
              $('#vPassword').val(password);
              $('#remember').prop("checked",true);
            }
          })

        </script>
        <div class="mainRight">
            
            {% if userInfo._id %}
            <div class="rightBox" id="userInfo">
                <div class="title"><span>UserInformation</span></div>
                <p><span class="colDark">{{userInfo.username}}</span></p>
                {% if userInfo.isAdmin %}
                <p>
                    <span class="colDanger">Hello，admin！</span>
                    <a href="/admin">Going to management</a>
                </p>
                {% else %}
                <p><span class="colDanger">Hello！Welcome to Chase's individual page</span></p>
                {% endif %}
                <!-- <div id = "exitBox" class="line"><span class="colDark"></span><button>Exit</button></div> -->
                <p><span class="colDark logoutBtn"><a href="javascript:void(0);" id="logout">Log out</a></span></p>
            </div>
            {% else %}
            <div class="jumbotron" id="loginBox">
                <div class="title"><span><h2>Log In Right Now!</h2></span></div>
                <!-- <div class="line"><span class="colDark">Email：</span><input type="text" name="username" /><em></em></div> -->
                <div class="form-group">
                  <fieldset>
                    <label class="control-label"><h5>Email</h5></label>
                    <input class="form-control" type="text" placeholder="Email address..." name="username" id="vEmail">
                  </fieldset>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1"><h5>Password &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="/forgot" class="text-info">Forget?</a></h5></label>
                  <input type="password" class="form-control" id="vPassword" placeholder="Password" name="password">
                </div>
                <!-- <div class="line"><span class="colDark">PassWord：</span><input type="password" name="password" /><em></em></div> -->
                <div class="form-group">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="remember" checked="">
                    <label class="custom-control-label" for="remember">Save password</label>
                  </div>
                  </div>
                  <div align = "center" class="line"><span class="colDark"></span><button type="button" class="btn btn-success"><h5>Log In</h5></button>
                <!-- <div align = "center" class="line"><span class="colDark"></span><button class="btn btn-primary"><h5>Log In</h5></button> -->
                <br></br>
                <!-- <div class="line" align = "center"><h6>Log in with<a href="/google" class="google"><p class="text-info">Google!</p></a></h6></div> -->
                <div class="line" align = "center"><p class="textRight"><h6>Log in with  <a href="/google" class="text-info">Google !</a></h6>　</p></div>
                <!-- <div class="line" align = "center" id=""><a href="/google" class="google"><button type="button" class="btn btn-success">Log in with google</button></a>　</div> -->
                <div class="line" align = "center"><p class="textRight"><h6>Do not have an account?  <a href="javascript:;" class="colMint">Register now!</a></h6>　</p></div>
                <div class="line" align = "center"><p class="colWarning textCenter"></p></div>
              </div>
              </div>
             
              <div class="jumbotron" id="registerBox" style="display: none;">
                <div class="title"><span><h2>Register</h2></span></div>
                <div class="form-group">
                  <label for="exampleSelect1">Country</label>
                  <select class="form-control" id="exampleSelect1" name="country">
                   
                  </select>
                </div>
                <!-- <div class="line"><span class="colDark"><select class ="countryList" name="country"><option></option></select></span></div> -->
                <div class="form-group">
                  <fieldset>
                    <label class="control-label" for="disabledInput">FirstName:</label>
                    <input class="form-control" type="text" placeholder="Input your first name..." name="first_name">
                  </fieldset>
                </div>
                <div class="form-group">
                  <fieldset>
                    <label class="control-label" for="disabledInput">LastName:</label>
                    <input class="form-control" type="text" placeholder="Input your first name..." name="last_name">
                  </fieldset>
                </div>
                
                <!-- <div class="line"><span class="colDark">firstname：</span><input name="first_name" type="text" /></div>
                <div class="line"><span class="colDark">lastname：</span><input name="last_name" type="text" /></div> -->
                <div class="form-group">
                  <label for="exampleInputEmail1">*Log In Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="username">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">*Other Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">*Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">*Confirm Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password" name="repassword">
                </div>
                <div class="form-group">
                  <fieldset>
                    <label class="control-label">City</label>
                    <input class="form-control" id="readOnlyInput" type="text" placeholder="City input here…" name="city">
                  </fieldset>
                </div>
                <div class="form-group">
                  <fieldset>
                    <label class="control-label">Region</label>
                    <input class="form-control" type="text" placeholder="Region input here…" name="region">
                  </fieldset>
                </div>

                <div class="form-group">
                  <fieldset>
                    <label class="control-label">Address</label>
                    <input class="form-control" type="text" placeholder="Address input here…" name="address">
                  </fieldset>
                </div>
                <div class="form-group">
                  <fieldset>
                    <label class="control-label">Postal_code</label>
                    <input class="form-control" type="text" placeholder="Postal code input here…" name="zip_postal_code">
                  </fieldset>
                </div>
                <div class="form-group">
                  <fieldset>
                    <label class="control-label">Telephone</label>
                    <input class="form-control" type="text" placeholder="Telephone input here…" name="tel">
                  </fieldset>
                </div>


                <!-- <div class="line"><span class="colDark">logInEmail：</span><input name="username" type="text" /></div>
                <div class="line"><span class="colDark">otherEmail：</span><input name="email" type="text" /></div>
                <div class="line"><span class="colDark">password：</span><input name="password" type="password" /></div>
                <div class="line"><span class="colDark">Confirm-password：</span><input name="repassword" type="password" /></div>
                <div class="line"><span class="colDark">City：</span><input name="city" type="text" /></div>
                <div class="line"><span class="colDark">Region：</span><input name="region" type="text" /></div>
                <div class="line"><span class="colDark">Address：</span><input name="address" type="text" /></div>
                <div class="line"><span class="colDark">Postal_code：</span><input name="zip_postal_code" type="text" /></div>
                <div class="line"><span class="colDark">Telephone：</span><input name="tel" type="text" /></div> -->
                <div align = "center" class="line"><span class="colDark"></span><button type="button" class="btn btn-success"><h5>Register Now</h5></button></div>
                <!-- <div align = "center" class="line"><span class="colDark"></span><button>Register Now</button></div> -->
                <p class="textRight"><h6>Already have an account? <a href="javascript:;" class="colMint">Log in now!</a>　</h6></p>
                <p class="colWarning textCenter"></p>
              </div>
            <!-- <div class="rightBox" id="loginBox">
                <div class="title"><span>Log In Right Now!</span></div>
                <div class="line"><span class="colDark">Email：</span><input type="text" name="username" /><em></em></div>
                <div class="line"><span class="colDark">PassWord：</span><input type="password" name="password" /><em></em></div>
                <div align = "center" class="line"><span class="colDark"></span><button>Log In</button></div>
                <div class="line" align = "center"><p class="textRight">Do not have an account?  <a href="javascript:;" class="colMint">Register now!</a>　</p></div>
                <p class="colWarning textCenter"></p>
            </div>
            <div class="rightBox" id="registerBox" style="display: none;">
                
                <div class="title"><span>Register</span></div>
                <div class="line"><span class="colDark"><select class ="countryList" name="country"><option></option></select></span></div>
                <div class="line"><span class="colDark">firstname：</span><input name="first_name" type="text" /></div>
                <div class="line"><span class="colDark">lastname：</span><input name="last_name" type="text" /></div>
                <div class="line"><span class="colDark">logInEmail：</span><input name="username" type="text" /></div>
                <div class="line"><span class="colDark">otherEmail：</span><input name="email" type="text" /></div>
                <div class="line"><span class="colDark">password：</span><input name="password" type="password" /></div>
                <div class="line"><span class="colDark">Confirm-password：</span><input name="repassword" type="password" /></div>
                <div class="line"><span class="colDark">City：</span><input name="city" type="text" /></div>
                <div class="line"><span class="colDark">Region：</span><input name="region" type="text" /></div>
                <div class="line"><span class="colDark">Address：</span><input name="address" type="text" /></div>
                <div class="line"><span class="colDark">Postal_code：</span><input name="zip_postal_code" type="text" /></div>
                <div class="line"><span class="colDark">Telephone：</span><input name="tel" type="text" /></div>


                <div align = "center" class="line"><span class="colDark"></span><button>Register Now</button></div>
                <p class="textRight">Already have an account? <a href="javascript:;" class="colMint">Log in right now!</a>　</p>
                <p class="colWarning textCenter"></p>
            </div> -->
            {% endif %}

            <div class="card bg-light mb-3" style="max-width: 20rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                  <h4 class="card-title">Light card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            <div class="rightBox">
                <div class="title"><span>Community</span></div>
                    <p><a href="" target="_blank" class="colDanger">Deakin Library</a></p>
                    <p><a href="" target="_blank" class="colDanger">Deakin Cloud</a></p>
                </div>
            </div>


    </main>

        
        

	<!-- <div class="copyright textCenter">Copyright © miaov.com 版权所有 | 京ICP备08102442号</div> -->
</body>
</html>